.newClient {
  width: 500px;
  margin: 50px auto;
}
.newClient form {
  display: flex;
  flex-direction: column;
}

.newClient form input {
  padding: 5px;
  margin: 5px;
}

.newClient form label {
  padding: 5px;
  margin: 5px;
}

.newClient form select {
  padding: 5px;
  margin: 5px;
}
.newClient form .inputGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.newClient form button {
  padding: 5px;
  margin: 5px;
  width: 100%;
  cursor: pointer;
}

.width100 {
  width: calc(100% - 20px);
}

.width50 {
  width: calc(50% - 25px);
}
