.carDetails {
  max-width: 250px;
  margin: 50px auto;
}
.carDetails h3 {
  font-size: 28px;
  margin: 5px auto;
}
.carDetails .row {
  margin: 10px 5px;
}
.carDetails .row strong {
  margin-right: 5px;
}

.carDetails .row button {
  cursor: pointer;
  margin: 10px auto;
  padding: 5px;
}
