.employeeDetails {
  max-width: 650px;
  margin: 50px auto;
}

.employeeDetails .row {
  width: 100%;
  display: flex;
  margin: 10px 5px;
}

.employeeDetails .row button {
  margin: 10px auto;
  margin-left: 0;
  margin-right: auto;
  padding: 5px;
  cursor: pointer;
}
.employeeDetails .row strong {
  margin-right: 5px;
}
.width50 {
  width: calc(100% / 2 - 15px);
}
