.newCar {
  width: 700px;
  margin: 50px auto;
}
.newCar form {
  display: flex;
  flex-direction: column;
}

.newCar form input,
.newCar form label,
.newCar form select {
  padding: 8px;
  margin: 5px;
}

.newCar form .inputGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.newCar form .inputGroup input,
.newCar form .inputGroup label,
.newCar form .inputGroup select {
  border-radius: 5px;
  border: 1px solid gray;
}

.newCar form button {
  padding: 5px;
  margin: 5px auto;
  width: 50%;
  cursor: pointer;
}

.inputGroup .width100 {
  width: calc(100% - 25px);
}

.inputGroup .width50 {
  width: calc(50% - 30px);
}

.inputGroup .width33 {
  width: calc(33% - 30px);
}
