.newEmployee {
  width: 700px;
  margin: 50px auto;
}
.newEmployee form {
  display: flex;
  flex-direction: column;
}

.newEmployee form input,
.newEmployee form label,
.newEmployee form select {
  padding: 8px;
  margin: 5px;
}

.newEmployee form .inputGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.newEmployee form .inputGroup input,
.newEmployee form .inputGroup label,
.newEmployee form .inputGroup select {
  border-radius: 5px;
  border: 1px solid gray;
  background: transparent;
}

.newEmployee form button {
  padding: 5px;
  margin: 5px auto;
  width: 60%;
  cursor: pointer;
}

.width100 {
  width: calc(100% - 25px);
}

.width50 {
  width: calc(50% - 30px);
}

.width33 {
  width: calc(33% - 28px);
}
